* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    width: 1000px;
    height: 1300px;
    margin: 20px auto;
    font-size: 35px;
    font-family: fantasy;
    display: flex;
}

header {
    height: 10%;
    width: 100%;
    font-size: 60px;
    font-family: "Lexend", sans-serif;
    font-weight: 800;
    border-radius: 0 0 25px 25px;
    background: rgb(57, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 90%;
    background: rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
}

.left-sidebar {
    width: 30%;
    height: 100%;
    background: rgb(37, 37, 37);
    border-right: 1px solid black;
    padding: 10px 10px 0 10px;
}

.sidebar-track {
    display: block;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;
    border: 4px solid;
    text-align: center;
    align-content: center;
    height: 75px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
    cursor: pointer;
}

.container {
    width: 80%;
    height: 100%;
    background: rgb(42, 42, 42);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.top-buttons-section {
    height: 5%;
}

.soundtrack-icon-section {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soundtrack-icon-box {
    width: 500px;
    height: 500px;
    border-radius: 40px;
    overflow: hidden;
}

.soundtrack-icon {
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.soundtrack-icon:hover {
    transform: scale(1.05);
}

.soundtrack-player-section {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 80%;
    /* -webkit-appearance: none;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #dbbbaf);
    background-size: 70% 100%;
    background-repeat: no-repeat; */
}

.bottom-buttons-section {
    height: 15%;
    border-radius: 25px 25px 0 0;
    background-color: rgb(57, 57, 57);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-play {
    display: block;
    width: 135px;
    height: 135px;
    border-radius: 70px;
    border: 5px solid transparent;
    background:
        linear-gradient(to right bottom, rgb(205, 121, 238), rgb(127, 55, 155)) padding-box,
        linear-gradient(to right bottom, rgb(144, 85, 167), rgb(75, 33, 92)) border-box;
    font-size: 50px;
    color: white;
    transition: all .1s;
}

.button-play:hover {
    background:
        linear-gradient(to right bottom, rgb(220, 131, 255), rgb(155, 68, 190)) padding-box,
        linear-gradient(to right bottom, rgb(144, 85, 167), rgb(75, 33, 92)) border-box;
    transform: scale(1.05);
}

.button-left, .button-right, .button-random, .button-repeat{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    border-width: 0;
    background: rgb(99, 99, 99);
    font-size: 50px;
    color: white;
    transition: all .1s;
}

.button-left:hover, .button-right:hover, .button-random:hover, .button-repeat:hover {
    transform: scale(1.1);
    background: rgb(122, 122, 122);
}

.volume-section {
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(57, 57, 57);
}

.volume {
    width: 60%;
}

/* .player::-webkit-slider-thumb {
    visibility: hidden;
}
  
.player::-webkit-slider-runnable-track  {
    box-shadow: none;
    border: none;
    background: transparent;
    height: 20px;
    width: 20px;
} */